/* Forgot pass screen accessed from regular login */

.forgot-pass {

	.forgot-pass-title {
		//@include large-dark-title;
		//@include large-type;
		margin-bottom: 35px;
	}

	.cta {
		overflow: hidden;

		input {
			//@include medium-button;
			float: right;
			width: 100%;
			//@include small-type;
		}
	}
}