/* Accessed from regular login */

.resend-confirm {
	//@include outer-container;
	overflow: hidden;

	.container {
		padding: 50px 0;
		//@include span-columns(4);
		//@include shift(3);
		//@include media($break708) {
			//@include span-columns(8);
			//@include shift(1);
		//}
	}

	.resend-confirm-title {
		//@include large-dark-title;
		//@include large-type;
		margin-bottom: 35px;
	}

	form {
		margin-bottom: 25px;
		padding-bottom: 25px;
		border-bottom: 1px solid;
		overflow: hidden;

		.field-section {
			margin-bottom: 15px;

			label {
				//@include label1;
				margin-bottom: 5px;
				font-weight: 700;
			}

			input {
				//@include text-input;
				padding: 12px;
				width: 100%;
				//@include normal-type;
			}
 		}

		.remember-me {
			margin-bottom: 15px;
			display: block;
			//@include normal-type;

			label {
				display: inline;
			}

			a {
				color: blue;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.avatar-section {
			overflow: hidden;
			margin: 25px 0 20px;

			img {
				display: block;
				margin-bottom: 15px;
				height: 130px;
			}

			input {
				width: 200px;
			}
		}
	}

	.other-links {

		a {
			display: block;
			color: blue;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.cta {
		overflow: hidden;

		input {
			//@include medium-button;
			float: right;
			width: 100%;
			//@include small-type;
		}
	}

	.fb-connect {
		width: 100%;
		margin-bottom: 35px;
		//@include fb-connect;
	}
}