$break1404: new-breakpoint(max-width 1404px);
$break1362: new-breakpoint(max-width 1362px);
$break1357: new-breakpoint(max-width 1357px);
$break1100: new-breakpoint(max-width 1100px);
$break1095: new-breakpoint(max-width 1095px);
$break1080: new-breakpoint(max-width 1080px);
$break1005: new-breakpoint(max-width 1005px);
$break1000: new-breakpoint(max-width 1000px);
$break978: new-breakpoint(max-width 978px);
$break935: new-breakpoint(max-width 935px);
$break915: new-breakpoint(max-width 915px);
$break911: new-breakpoint(max-width 911px);
$break900: new-breakpoint(max-width 900px);
$break881: new-breakpoint(max-width 881px);
$break855: new-breakpoint(max-width 855px);
$break828: new-breakpoint(max-width 828px);
$break825: new-breakpoint(max-width 825px);
$break800: new-breakpoint(max-width 800px);
$break780: new-breakpoint(max-width 780px);
$break760: new-breakpoint(max-width 760px);
$break750: new-breakpoint(max-width 750px);
$break708: new-breakpoint(max-width 708px);
$break700: new-breakpoint(max-width 700px);
$break680: new-breakpoint(max-width 680px);
$break665: new-breakpoint(max-width 665px);
$break650: new-breakpoint(max-width 650px);
$break638: new-breakpoint(max-width 638px);
$break620: new-breakpoint(max-width 620px);
$break600: new-breakpoint(max-width 600px);
$break587: new-breakpoint(max-width 587px);
$break577: new-breakpoint(max-width 577px);
$break550: new-breakpoint(max-width 550px);
$break523: new-breakpoint(max-width 523px);
$break500: new-breakpoint(max-width 500px);
$mobile: new-breakpoint(max-width 480px 3);
$break480: new-breakpoint(max-width 480px);
$break455: new-breakpoint(max-width 475px);
$break475: new-breakpoint(max-width 455px);
$break443: new-breakpoint(max-width 443px);
$break425: new-breakpoint(max-width 425px);
$break405: new-breakpoint(max-width 405px);
$break395: new-breakpoint(max-width 395px);
$break385: new-breakpoint(max-width 385px);
$break350: new-breakpoint(max-width 350px);
$break337: new-breakpoint(max-width 337px);
$break325: new-breakpoint(max-width 325px);
$break300: new-breakpoint(max-width 300px);
$break265: new-breakpoint(max-width 265px);
$break250: new-breakpoint(max-width 250px);
$break230: new-breakpoint(max-width 230px);