@import "neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: 1000px;

//BREAK POINTS
$break1404: new-breakpoint(max-width 1404px);
$break1362: new-breakpoint(max-width 1362px);
$break1357: new-breakpoint(max-width 1357px);
$break1300: new-breakpoint(max-width 1300px);
$break1240: new-breakpoint(max-width 1240px);
$break1100: new-breakpoint(max-width 1100px);
$break1095: new-breakpoint(max-width 1095px);
$break1080: new-breakpoint(max-width 1080px);
$break1021: new-breakpoint(max-width 1021px);
$break1016: new-breakpoint(max-width 1016px);
$break1005: new-breakpoint(max-width 1005px);
$break1000: new-breakpoint(max-width 1000px);
$break978: new-breakpoint(max-width 978px);
$break935: new-breakpoint(max-width 935px);
$break920: new-breakpoint(max-width 920px);
$break915: new-breakpoint(max-width 915px);
$break911: new-breakpoint(max-width 911px);
$break900: new-breakpoint(max-width 900px);
$break881: new-breakpoint(max-width 881px);
$break855: new-breakpoint(max-width 855px);
$break828: new-breakpoint(max-width 828px);
$break825: new-breakpoint(max-width 825px);
$break815: new-breakpoint(max-width 821px);
$break808: new-breakpoint(max-width 808px);
$break806: new-breakpoint(max-width 806px);
$break800: new-breakpoint(max-width 800px);
$break780: new-breakpoint(max-width 780px);
$break775: new-breakpoint(max-width 775px);
$break760: new-breakpoint(max-width 760px);
$break750: new-breakpoint(max-width 750px);
$break708: new-breakpoint(max-width 708px);
$break700: new-breakpoint(max-width 700px);
$break680: new-breakpoint(max-width 680px);
$break665: new-breakpoint(max-width 665px);
$break650: new-breakpoint(max-width 650px);
$break638: new-breakpoint(max-width 638px);
$break630: new-breakpoint(max-width 630px);
$break615: new-breakpoint(max-width 615px);
$break620: new-breakpoint(max-width 620px);
$break600: new-breakpoint(max-width 600px);
$break587: new-breakpoint(max-width 587px);
$break577: new-breakpoint(max-width 577px);
$break560: new-breakpoint(max-width 560px);
$break550: new-breakpoint(max-width 550px);
$break523: new-breakpoint(max-width 523px);
$break507: new-breakpoint(max-width 507px);
$break500: new-breakpoint(max-width 500px);
$break491: new-breakpoint(max-width 491px);
$mobile: new-breakpoint(max-width 480px 3);
$break480: new-breakpoint(max-width 480px);
$break455: new-breakpoint(max-width 475px);
$break460: new-breakpoint(max-width 460px);
$break475: new-breakpoint(max-width 455px);
$break443: new-breakpoint(max-width 443px);
$break435: new-breakpoint(max-width 435px);
$break425: new-breakpoint(max-width 425px);
$break415: new-breakpoint(max-width 415px);
$break405: new-breakpoint(max-width 405px);
$break395: new-breakpoint(max-width 395px);
$break385: new-breakpoint(max-width 385px);
$break350: new-breakpoint(max-width 350px);
$break339: new-breakpoint(max-width 339px);
$break337: new-breakpoint(max-width 337px);
$break325: new-breakpoint(max-width 325px);
$break315: new-breakpoint(max-width 315px);
$break305: new-breakpoint(max-width 305px);
$break300: new-breakpoint(max-width 300px);
$break275: new-breakpoint(max-width 275px);
$break265: new-breakpoint(max-width 265px);
$break250: new-breakpoint(max-width 250px);
$break230: new-breakpoint(max-width 230px);
$break225: new-breakpoint(max-width 225px);